@import 'variables';

#page-front{
    // Banner
    .block-views-blockslider-block-1{
        margin-top: -120px;
        .view-slider{
            .slick{
                .slick__slide{
                    .slide__content{
                        position: relative;
                        .slide__media{
                            height: 410px;
                            .media--slick{
                                position: relative;
                                height: 100%;
                                .media__image{
                                    height: 410px;
                                }
                                &:after{
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                    content: "";
                                    // background-color: rgba(0,0,0,0.75);
                                }
                            }   
                        }
                        .slide__caption{
                            position: absolute;
                            bottom: 15px;
                            .slide__description{
                                position: absolute;
                                bottom: 20%;
                                padding: 0 20px;
                                .views-field-body{
                                    .field-content{
                                        position: relative;
                                        .content{
                                            p{
                                                font-weight: 700;
                                                font-size: 24px;
                                                line-height: 30px;
                                                color: $brand-red;
                                            }
                                            a{
                                                background-color: $brand-white;
                                                color: $brand-dark-gray;
                                                transition: all 0.2s ease-in-out;
                                                border: 1px solid $brand-white;
                                                border-radius: 4px;
                                                font-weight: 600;
                                                font-size: 16px;
                                                line-height: 1.5;
                                                padding: 10px 30px;
                                                text-decoration: none;
                                                margin-top: 15px;
                                                &:hover{
                                                    background-color: $brand-yellow;
                                                }
                                            }
                                        }
                                        .edit-link{
                                            position: absolute;
                                            left: 0px;
                                            top: -20px;
                                            a{
                                                color: transparent;
                                                text-decoration: none;
                                                &:before{
                                                    content: "\F4CA";
                                                    color: $brand-gray;
                                                    font-family: $icon;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
                .slick__arrow{
                    display: none;
                }
            }
        }
    }
    // Stats Block
    .block-views-blockstats-block-block-1{
        padding: 40px 0;
        background-color: $brand-pink;
        .view-stats-block{
            .view-content{
                --bs-gutter-x: 1.5rem;                    
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: calc(-1 * var(--bs-gutter-y));
                margin-right: calc(-.5 * var(--bs-gutter-x));
                margin-left: calc(-.5 * var(--bs-gutter-x));
                .views-row{
                    padding: 0 15px;    
                    .views-field-nothing{
                        .field-content{
                            display: inline-block;
                            width: 100%;
                            text-align: center;
                            .block_id{
                                display: inline-block;
                                position: relative;
                                .content{
                                    text-align: left;
                                    color: $brand-white;
                                    p{
                                        margin-bottom: 0;
                                        strong{
                                            font-size: 24px;
                                            line-height: 1;
                                        }
                                    }
                                }
                                .edit-link{
                                    position: absolute;
                                    right: -50px;
                                    a{
                                        color: transparent;
                                        text-decoration: none;
                                        &:before{
                                            content: "\F4CA";
                                            color: $brand-gray;
                                            font-family: $icon;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(1){
                        .block_id{
                            position: relative;
                            &:before{
                                content: "\F52F";
                                color: $brand-white;
                                font-family: $icon;
                                left: -45px;
                                position: absolute;
                                font-size: 35px;
                            }
                        }
                    }
                    &:nth-child(2){
                        .block_id{
                            position: relative;
                            &:before{
                                content: "\F70D";
                                color: $brand-white;
                                font-family: $icon;
                                left: -45px;
                                position: absolute;
                                font-size: 35px;
                            }
                        }
                    }
                    &:nth-child(3){
                        .block_id{
                            position: relative;
                            &:before{
                                content: "\F588";
                                color: $brand-white;
                                font-family: $icon;
                                left: -45px;
                                position: absolute;
                                font-size: 35px;
                            }
                        }
                    }
                    &:nth-child(4){
                        .block_id{
                            position: relative;
                            &:before{
                                content: "\F543";
                                color: $brand-white;
                                font-family: $icon;
                                left: -45px;
                                position: absolute;
                                font-size: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
    // Sectors
    .block-views-blocksectors-block-2{
        padding: 45px 0px;
        h2{
            text-align: center;
            font-size: 42px;
            font-weight: 700;
            color: $dark-gray;
            margin-bottom: 30px;
        }
        .view-sectors{
            padding: 0;
            .view-content{
                .views-row{
                    padding: 0;
                    .views-field-nothing{
                        color: $text-color;
                        transition: 0.3s;
                        height: 100%;
                        .sector-wrapper{
                            align-items: center;
                            position: relative;
                            --bs-gutter-x: 1.5rem;
                            --bs-gutter-y: 0;
                            display: flex;
                            flex-wrap: wrap;
                            margin-top: calc(-1 * var(--bs-gutter-y));
                            margin-right: calc(-0.5 * var(--bs-gutter-x));
                            margin-left: calc(-0.5 * var(--bs-gutter-x));
                            .image{
                                flex: 0 0 auto;
                                width: 100%;
                            }
                            .text{
                                flex: 0 0 auto;
                                width: 100%;
                                padding: 30px 0;
                            }
                        }
                        // &:hover{
                        //     border-color: $light-gray;
                        //     .title{
                        //         a{
                        //             color: $brand-dark-gray;
                        //         }
                        //     }
                        //     .more{
                        //         a{
                        //             color: $brand-dark-gray;
                        //         }
                        //     }
                        // }
                        .title{
                            margin-bottom: 15px;
                            font-size: 1.75rem;
                            padding: 0 30px;
                            color: $brand-pink;
                            transition: $transition;
                            text-decoration: none;
                            font-weight: 700;
                            a{
                                color: $brand-pink;
                                transition: $transition;
                                text-decoration: none;
                                font-weight: 700;
                            }
                        }
                        .body{
                            line-height: 24px;
                            padding: 0 30px;
                            p{
                                font-size: 16px;
                            }
                            h3{
                                font-size: 18px;
                            }
                            a{
                                color:$brand-dark-gray;
                            }
                            table{
                                width: 100%;
                                margin: 30px 0;
                                tr{
                                    vertical-align: top;
                                    td{
                                        width: 50%;
                                    }
                                    
                                }
                            }
                            ul{
                                padding-left: 20px;
                            }
                        }
                        .more{
                            padding: 0 30px;
                            margin: 15px 0 0;
                            display: none;
                            a{
                                text-decoration: none;
                                color: $text-color;
                                border-bottom: 1px solid;
                            }
                        }
                        .edit-link{
                            position: absolute;
                            right: 15px;
                            a{
                                color: transparent;
                                text-decoration: none;
                                &:before{
                                    content: "\F4CA";
                                    color: $brand-gray;
                                    font-family: $icon;
                                }
                            }
                        }
                    }
                    &:nth-child(even){
                        .views-field-nothing{
                            .sector-wrapper{
                                
                                .image{
                                    
                                }
                                .edit-link{
                                    position: absolute;
                                    right: unset;
                                    left: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // Categories
    .block-views-blockcategories-block-1{
        background-color: $light-gray;
        padding: 45px 0px;
        transition: $transition;
        h2{
            text-align: left;
            font-size: 32px;
            font-weight: 700;
            color: $brand-dark-gray;
            margin: 0 15px 30px;

        }
        .view-categories{
            position: relative;
            .view-content{
                --bs-gutter-x: 1.5rem;                    
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: calc(-1 * var(--bs-gutter-y));
                margin-right: calc(-.5 * var(--bs-gutter-x));
                margin-left: calc(-.5 * var(--bs-gutter-x));
                align-items: center;
                .views-row{
                    align-items: center;
                    border: 1px solid $border;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    padding: 40px 0;
                    background-color: $lighter-gray;
                    .views-field-field-logo{
                        width: 100%;
                        flex: 0 0 auto;
                        text-align: center;
                        transition: $transition;
                        margin-bottom: 10px;
                        img{
                            opacity: .5;
                            transition: $transition;
                        }
                    }
                    .views-field-name{
                        width: 100%;
                        flex: 0 0 auto;
                        text-align: center;
                        a{
                            color: $text-color;
                            text-decoration: none;
                            transition: $transition;
                        }
                    }
                    &:hover{
                        background-color: $light-gray;
                        .views-field-field-logo{
                            img{
                                opacity: .8;
                            }
                        }
                        .views-field-name{
                            a{
                                color: $brand-dark-gray;
                            }    
                        }
                    }
                }
            }
            .view-footer{
                position: absolute;
                right: 15px;
                top: -50px;
                .edit-link{
                    color: transparent;
                    text-decoration: none;
                    &:before{
                        content: "\F4CA";
                        color: $text-color;
                        font-family: $icon;
                        opacity: .5;
                    }
                }

            }
        }
    }
    // Featured Products
    .block-views-blockproducts-block-5{
        padding: 45px 0px;
        transition: $transition;
        h2{
            text-align: left;
            font-size: 32px;
            font-weight: 700;
            color: $brand-dark-gray;
            margin: 0 15px 30px;

        }
        .view-products{
            position: relative;
            .view-content{
                --bs-gutter-x: 1.5rem;                    
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: calc(-1 * var(--bs-gutter-y));
                margin-right: calc(-.5 * var(--bs-gutter-x));
                margin-left: calc(-.5 * var(--bs-gutter-x));
                align-items: center;
                .views-row{
                    align-items: center;
                    border: 1px solid $border;
                    display: flex;
                    flex-direction: column;
                    padding: 40px 0;
                    .views-field-field-image{
                        width: 100%;
                        flex: 0 0 auto;
                        text-align: center;
                        transition: $transition;
                        margin-bottom: 10px;
                        transition: transform .2s;
                        img{
                            opacity: .8;
                            transition: $transition;
                            position: relative !important;
                            text-align: center;
                        }
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                    .views-field-title{
                        display: none;
                    }
                    &:hover{
                        .views-field-field-image{
                            img{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    // Brands
    .block-views-blockbrands-block-1{
        padding: 45px 15px;
        h2{
            text-align: center;
            font-size: 42px;
            font-weight: 700;
            color: $dark-gray;
            margin-bottom: 30px;
        }
        .view-brands{
            .view-content{
                --bs-gutter-x: 1.5rem;                    
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: calc(-1 * var(--bs-gutter-y));
                margin-right: calc(-.5 * var(--bs-gutter-x));
                margin-left: calc(-.5 * var(--bs-gutter-x));
                align-items: center;
                justify-content: center !important;
                .views-row{
                    display: flex;
                    align-items: center;
                    .views-field-field-logo{
                        width: 100%;
                        text-align: center;
                        // filter: grayscale(1);
                        transition: $transition;
                        // &:hover{
                        //     filter: grayscale(0);
                        // }
                    }
                }
            }
        }
    }
    // Gallery
    #block-productgallery{
        .slick{
            .slick-list{
                .slick-track{
                    .slick-slide{
                        .slick__slide{
                            .slide__content{
                                align-items: center;
                                display: flex;
                                flex-direction: column;
                                padding: 40px;
                                .media--slick{
                                    width: 100%;
                                    flex: 0 0 auto;
                                    text-align: center;
                                    transition: $transition;
                                    margin-bottom: 10px;
                                    transition: transform .2s;
                                    .media__image{
                                        opacity: .8;
                                        transition: $transition;
                                        position: relative !important;
                                        text-align: center;
                                        margin: 0 auto;
                                        max-height: 180px;
                                        width: auto;
                                    }
                                    &:hover{
                                        transform: scale(1.1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    #page-front {
        .block-views-blockslider-block-1 {
            .view-slider {
                .slick {
                    .slick__slide {
                        .slide__content {
                            .slide__caption {
                                .slide__description {
                                    .views-field-body {
                                        .content {
                                            p{
                                                font-size: 34px !important;
                                                line-height: 45px !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) { 
    #page-front {
        .block-views-blockslider-block-1 {
            .view-slider {
                .slick {
                    .slick__slide {
                        .slide__content {
                            .slide__caption {
                                .slide__description {
                                    .views-field-body {
                                        .content {
                                            p{
                                                font-size: 50px !important;
                                                line-height: 60px !important;
                                                width: 75%;
                                            }
                                            a{
                                                font-size: 18px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    #page-front {
        .block-views-blockslider-block-1 {
            .view-slider {
                .slick {
                    .slick__slide {
                        .slide__content {
                            .slide__media{
                                height: auto;
                                .media__image{
                                    height: 100% !important;
                                    width: auto;
                                }
                            }
                            .slide__caption{
                                bottom: 0 !important;
                                .slide__description{
                                    bottom: 10%;
                                    a{
                                        font-weight: 400;
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .block-views-blocksectors-block-2{
            .view-sectors{
                .view-content{
                    .views-row{
                        .views-field-nothing{
                            .sector-wrapper{
                                .image{
                                    flex: 0 0 auto;
                                    width: 40%;
                                }
                                .text{
                                    flex: 0 0 auto;
                                    width: 60%;
                                    padding: 30px 0;
                                }
                            }
                        }
                        &:nth-child(even){
                            .views-field-nothing{
                                .sector-wrapper{
                                    .image{
                                        order: 2;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}