@import 'variables';

#page-content{
    #block-tekmens-content{
        // width: 70%;
        width: 100%;
        margin: 40px auto;
        .field--name-body{
            h2{
                color: $brand-pink;
                border-bottom: 1px solid $border;
                padding-bottom: 10px;
                margin-bottom: 15px;
                margin-top: 30px;
                font-weight: bolder;
                font-size: 2rem;
                clear: both;
                span{
                    color: $brand-pink !important;
                    font-weight: bolder !important;
                    font-size: 2rem !important;
                }
                a{
                    text-decoration: none;
                    color: $brand-pink !important;
                    transition: $transition;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            h3{
                clear: both;
                color: $brand-pink;
                border-bottom: 1px solid $border;
                padding-bottom: 10px;
                margin-bottom: 15px;
                margin-top: 30px;
                font-weight: bolder;
                font-size: 1.75rem;
                span{
                    color: $brand-pink !important;
                    font-weight: bolder !important;
                    font-size: 1.75rem !important;
                }
                a{
                    text-decoration: none;
                    color: $brand-pink !important;
                    transition: $transition;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            h4{
                clear: both;
                margin-bottom: 15px;
                margin-top: 30px;
                font-weight: bolder;
                font-size: 1.5rem;
                span{
                    font-size: 1.5rem !important;
                    font-weight: bolder !important;
                }
                a{
                    text-decoration: none;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            h5{
                clear: both;
                margin-bottom: 15px;
                margin-top: 30px;
                font-weight: bolder;
                font-size: 1.25rem;
                span{
                    font-size: 1.25rem !important;
                    font-weight: bolder !important;
                }
                a{
                    text-decoration: none;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            h6{
                clear: both;
                margin-bottom: 15px;
                margin-top: 30px;
                font-size: 1.25rem;
                span{
                    font-size: 1.25rem !important;
                }
                a{
                    text-decoration: none;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            p,
            span{
                color: $text-color !important;
                font-size: 16px !important;
                text-align: left !important;
                a{
                    color: $text-color;
                    text-decoration: none;
                    transition: $transition;
                    &:hover{
                        color: $brand-dark-gray;
                    }
                }
            }
            ul{
                padding-left: 0;
                li{
                    list-style: none;
                    color: $text-color;
                    a{
                        color: $text-color;
                        text-decoration: none;
                        transition: $transition;
                        &:hover{
                            color: $brand-dark-gray;
                        }
                    }
                    &::before{
                        content: "\F2D2";
                        color: $text-color;
                        font-family: $icon;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                }
            }
            .caption-img{
                img{
                    margin-bottom: 0;
                    width: 100%;
                    margin: 15px auto 0;
                }
                figcaption{
                    text-align: center;
                    font-size: 16px;
                    color: $brand-gray;
                }
            }
            p{
                img{
                    width: 100%;
                }
            }
            img{
                max-width: 100%;
                height: auto;
                margin: 15px 0;
                &.align-left{
                    width: 100%;
                    margin-right: 0px;
                }
                &.align-right{
                    width: 100%;
                    margin-left: 0px;
                }
                &.align-center{
                    width: 100%;
                    margin: 15px auto;
                }
            }
            table{
                width: 100%;
                thead{
                    background: $brand-gray;
                    tr{
                        th{
                            padding: 5px;
                            text-align: center;
                            border: 1px solid $lighter-gray;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            padding: 5px;
                            text-align: center;
                            border: 1px solid $lighter-gray;
                        }
                        &:nth-child(even){
                            background-color: $light-gray;
                        }
                    }
                    
                }
            }
        }
    }
}

// Node Page
.page-node-type-page{
    #page-content{
        #block-tekmens-ourstory{
            padding: 30px 0;
            margin-bottom: 30px;
            h2{
                text-align: left;
                font-size: 42px;
                font-weight: 600;
                color: $brand-pink;
                margin-bottom: 15px;
            }
            .field--name-field-image {
                // width: 40%;
                width: 100%;
                display: inline-block;
            }
            .field--name-body{
                // width: 50%;
                width: 100%;
                display: inline-block;
                // padding: 30px 0 30px 30px ;
                padding: 30px 0;
                vertical-align: middle;
                color: $brand-dark-gray;
            }
        }
        #block-tekmens-whatwedo{
            padding: 30px 0;
            h2{
                text-align: left;
                font-size: 42px;
                font-weight: 600;
                color: $brand-yellow;
                margin-bottom: 15px;
            }
            .field--name-body{
                text-align: left;
                font-size: 18px;
            }
        }
        .block-views-blocksectors-block-1{
            .view-sectors{
                .view-content{
                    .views-row{
                        padding: 0;
                        .views-field-nothing{
                            color: $text-color;
                            transition: 0.3s;
                            height: 100%;
                            .sector-wrapper{
                                align-items: center;
                                position: relative;
                                --bs-gutter-x: 1.5rem;
                                --bs-gutter-y: 0;
                                display: flex;
                                flex-wrap: wrap;
                                margin-top: calc(-1 * var(--bs-gutter-y));
                                margin-right: calc(-0.5 * var(--bs-gutter-x));
                                margin-left: calc(-0.5 * var(--bs-gutter-x));
                                .image{
                                    flex: 0 0 auto;
                                    width: 100%;
                                }
                                .text{
                                    flex: 0 0 auto;
                                    width: 100%;
                                    padding: 30px 0;
                                }
                            }
                            // &:hover{
                            //     border-color: $light-gray;
                            //     .title{
                            //         a{
                            //             color: $brand-dark-gray;
                            //         }
                            //     }
                            //     .more{
                            //         a{
                            //             color: $brand-dark-gray;
                            //         }
                            //     }
                            // }
                            .title{
                                margin-bottom: 15px;
                                font-size: 1.75rem;
                                padding: 0 30px;
                                color: $brand-pink;
                                transition: $transition;
                                text-decoration: none;
                                font-weight: 700;
                                a{
                                    color: $brand-pink;
                                    transition: $transition;
                                    text-decoration: none;
                                    font-weight: 700;
                                }
                            }
                            .body{
                                line-height: 24px;
                                padding: 0 30px;
                                p{
                                    font-size: 16px;
                                }
                                h3{
                                    font-size: 18px;
                                }
                                a{
                                    color:$brand-dark-gray;
                                }
                                table{
                                    width: 100%;
                                    margin: 30px 0;
                                    tr{
                                        vertical-align: top;
                                        td{
                                            width: 50%;
                                        }
                                        
                                    }
                                }
                                ul{
                                    padding-left: 20px;
                                }
                            }
                            .more{
                                padding: 0 30px;
                                margin: 15px 0 0;
                                display: none;
                                a{
                                    text-decoration: none;
                                    color: $text-color;
                                    border-bottom: 1px solid;
                                }
                            }
                            .edit-link{
                                position: absolute;
                                right: 15px;
                                a{
                                    color: transparent;
                                    text-decoration: none;
                                    &:before{
                                        content: "\F4CA";
                                        color: $brand-gray;
                                        font-family: $icon;
                                    }
                                }
                            }
                        }
                        &:nth-child(even){
                            .views-field-nothing{
                                .sector-wrapper{
                                    
                                    .image{
                                        order: 2;
                                    }
                                    .edit-link{
                                        position: absolute;
                                        right: unset;
                                        left: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        // Gallery
        #block-productgallery-2{
            .slick{
                .slick-list{
                    .slick-track{
                        .slick-slide{
                            .slick__slide{
                                .slide__content{
                                    align-items: center;
                                    display: flex;
                                    flex-direction: column;
                                    padding: 40px;
                                    .media--slick{
                                        width: 100%;
                                        flex: 0 0 auto;
                                        text-align: center;
                                        transition: $transition;
                                        margin-bottom: 10px;
                                        transition: transform .2s;
                                        .media__image{
                                            opacity: .8;
                                            transition: $transition;
                                            position: relative !important;
                                            text-align: center;
                                            margin: 0 auto;
                                            max-height: 180px;
                                            width: auto;
                                        }
                                        &:hover{
                                            transform: scale(1.1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            nav.slick__arrow{
                .slick-arrow{
                    background: transparent;
                    color: transparent;
                    border: none;
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    &::before{
                        color: #ff6d2c;
                        font-size: 36px;
                        font-size: 2.25rem;
                        font-family: "slick";
                        line-height: 1;
                        color: #ff6d2c;
                        opacity: 0.75;
                    }
                    &.slick-prev{
                        left: 0;
                        &::before{
                            content: "←";
                            
                        }
                    }
                    &.slick-next{
                        right: 0;
                        &::before{
                            content: "→";
                            
                        }
                    }
                }
            }
        }
    }
}

// Dashboard Page
.page-node-27{
    #page-content{
        #block-tekmens-page-title{
            background-color: $brand-dark-gray;
            height: 105px;
            padding: 0;
            .page-title{
                display: none;
            }
        }
        #block-tekmens-content{
            width: 100%;
            .node{
                .dashboard-title{
                    text-align: left;
                    font-size: 42px;
                    font-weight: 600;
                    color: $brand-red;
                    margin-bottom: 15px;
                }
                .field--name-body{
                    ul{
                        li{
                            a{
                                &:hover{
                                    color: $brand-pink;
                                }
                            }
                            &::before{
                                content: "\F133";   
                            }
                            &:hover{
                                color: $brand-pink;
                            }

                        }
                    }
                }
            }
        }
        #block-tekmens-primary-local-tasks{
            display: none;
        }
        .dashboard-block{
            .view{
                padding: 20px;
                color: $text-color;
                border-radius: 4px;
                border: 1px solid $border;
                transition: 0.3s;
                h3{
                    clear: both;
                    color: $brand-dark-gray;
                    border-bottom: 1px solid $border;
                    padding-bottom: 10px;
                    margin-bottom: 15px;
                    font-weight: bolder;
                    font-size: 1.75rem;
                }
                .views-row{
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid $brand-gray;
                    position: relative;
                    .views-field-title{
                        a{
                            text-decoration: none;
                            color: $text-color;
                            font-weight: 600;
                            font-size: 18px;
                        }
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                }
                .more-link{
                    text-align: left;
                    a{
                        text-decoration: none;
                        color: $brand-pink;
                        font-weight: 600;
                        &::after{
                            content: "\F135";
                            color: $brand-pink;
                            font-family: "bootstrap-icons";
                            margin-left: 5px;
                            font-weight: 600;
                            font-size: 22px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}

// Sector Page
.page-node-type-sector{
    .block-views-blockbrands-block-2{
        padding: 45px 15px;
        h2{
            text-align: center;
            font-size: 42px;
            font-weight: 700;
            color: $brand-dark-gray;
            margin-bottom: 30px;
        }
        .view-brands{
            .view-content{
                --bs-gutter-x: 1.5rem;                    
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: calc(-1 * var(--bs-gutter-y));
                margin-right: calc(-.5 * var(--bs-gutter-x));
                margin-left: calc(-.5 * var(--bs-gutter-x));
                align-items: center;
                .views-row{
                    display: flex;
                    align-items: center;
                    .views-field-field-logo{
                        width: 100%;
                        text-align: center;
                        filter: grayscale(1);
                        transition: $transition;
                        &:hover{
                            filter: grayscale(0);
                        }
                    }
                }
            }
        } 
    }
    .block-views-blockproducts-block-2{
        padding: 45px 15px;
        h2{
            text-align: center;
            font-size: 42px;
            font-weight: 700;
            color: $brand-pink;
            margin-bottom: 30px;
        }
    }
}

// Contact Page
.page-node-6{
        #page-content{
        #block-tekmens-content{
            width: 90%;
            h2{
                color: $brand-pink;
                border-bottom: 1px solid $border;
                padding-bottom: 10px;
                margin-bottom: 15px;
                margin-top: 30px;
                font-weight: bolder;
                font-size: 2rem;
                clear: both;
                span{
                    color: $brand-pink !important;
                    font-weight: bolder !important;
                    font-size: 2rem !important;
                }
                a{
                    text-decoration: none;
                    color: $brand-pink !important;
                    transition: $transition;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            .webform-submission-contact-form{
                .js-form-item{
                    label{
                        margin-bottom: 5px;
                    }
                    input,
                    textarea{
                        border-radius: 6px;
                        &:active,
                        &:focus{
                            border-color: $brand-pink;
                            box-shadow: none;
                        }
                    }
                }
                .form-actions{
                    .webform-button--submit{
                        background-color: $brand-pink;
                        color: $brand-white;
                        border-color: $brand-pink;
                        padding: 8px 15px;
                        border-radius: 6px;
                        transition: $transition;
                        font-weight: 600;
                        &:hover{
                            background-color: $brand-dark-gray;
                            border-color: $brand-gray;
                        }
                    }
                }
            }
        }
    }
}

// Products Page
.page-node-type-product{
    #page-content{
        #block-tekmens-page-title{
            background-color: $brand-dark-gray;
            height: 105px;
            padding: 0;
            .page-title{
                display: none;
            }
        }
        .product-title{
            border-bottom: 1px solid $border;
            padding-bottom: 15px;
            margin-bottom: 30px;
            .product-brand{
                a{
                    color: $brand-pink;
                    text-decoration: none;
                    font-weight: 600;
                    &:hover{
                        color: $brand-red;
                    }
                }
            }   
            .page-title{
                font-weight: 600;
                color: $text-color;
                font-size: 36px;
            }
        }
        .field--name-field-image{
            transition: transform .2s;
            &:hover{
                transform: scale(1.1);
            }
        }
        
        .field--name-field-manufacturing-origin,
        .field--name-field-supplier-name{
            margin-bottom: 10px;
            .field__label{
                display: inline-block;
                font-weight: 600;
                color: $text-color;
                &:after{
                    content:": ";
                }
            }
            .field__item{
                display: inline-block;
                color: $brand-dark-gray;
            }
        }
        .field--name-field-application,
        .field--name-field-parameters{
            margin-bottom: 10px;
            .field__label{
                font-weight: 600;
                color: $text-color
            }
            .field__item{
                color: $brand-dark-gray;
            }
        }
        .field--name-field-specs{
            p{
                strong{
                    color: $text-color;
                }
            }
            table{
                width: 100%;
                thead{
                    background: $brand-gray;
                    tr{
                        th{
                            padding: 5px;
                            text-align: left;
                            border: 1px solid $lighter-gray;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            padding: 5px;
                            text-align: left;
                            border: 1px solid $lighter-gray;
                        }
                        &:nth-child(even){
                            background-color: $light-gray;
                        }
                    }
                    
                }
            }
            li{
                strong{
                    color: $text-color;
                }
            }
        }
        .attachment{
            .view-product{
                a{
                    text-decoration: none;
                    background: $light-gray;
                    display: inline-block;
                    border-radius: 6px;
                    .text{
                        background: $light-gray;
                        padding: 15px 17px 15px 19px;
                        color: $brand-dark-gray;
                        text-decoration: none;
                        border-bottom-left-radius: 6px;
                        border-top-left-radius: 6px;
                        display: inline-block;
                        font-weight: 600;
                    }
                    .icon{
                        background: $brand-pink;
                        padding: 15px 17px 15px 19px;
                        text-decoration: none;
                        color: $brand-white;
                        border-bottom-right-radius: 6px;
                        border-top-right-radius: 6px;
                        display: inline-block;
                    }
                }
            }
        }
        #block-tekmens-content{
            margin-bottom: 0;
        }
        .section-2{
            .wrapper{
                margin-top: 30px;
            }
            h2{
                margin-top: 0 !important;
                font-size: 1.75rem;
                border-bottom: none;
            }
            h3{
                margin-top: 0 !important;
                font-size: 1.5rem;
                border-bottom: none;
            }
            table{
                width: 100%;
                thead{
                    background: $brand-gray;
                    tr{
                        th{
                            padding: 5px;
                            text-align: center;
                            border: 1px solid $lighter-gray;
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            padding: 5px;
                            text-align: center;
                            border: 1px solid $lighter-gray;
                        }
                        &:nth-child(even){
                            background-color: $light-gray;
                        }
                    }
                    
                }
            }
            ul{
                padding-left: 0;
                li{
                    list-style: none;
                    color: $brand-dark-gray;
                    a{
                        color: $text-color;
                        text-decoration: none;
                        transition: $transition;
                        &:hover{
                            color: $brand-dark-gray;
                        }
                    }
                    &::before{
                        content: "\F2D2";
                        color: $text-color;
                        font-family: $icon;
                        margin-right: 10px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .quote-wrapper{
        display: none;
    }
}

.path-products{
    #page-sidebar{
        .block-views-exposed-filter-blockproducts-page-1{
            margin-top: 40px;
            #views-exposed-form-products-page-1{
                .form-item-category{
                    label{
                        display: none;
                    }
                    .shs-container{
                        display: none;
                    }
                    .bef-links{
                        border: none;
                        padding: 0;
                        ul{
                            padding: 0;
                            list-style: none;
                            max-height: 500px;
                            overflow-y: scroll;
                            overflow-x: hidden;
                            li{
                                a{
                                    text-decoration: none;
                                    color: $brand-red;
                                    text-decoration: none;
                                    padding: 10px 5px;
                                    border-bottom: 1px solid $light-gray;
                                    width: 100%;
                                    display: block;
                                    &#edit-category-2,
                                    &#edit-category-3,
                                    &#edit-category-4,
                                    &#edit-category-79,
                                    &#edit-category-80{
                                        display: none;
                                    }
                                    &.bef-link--selected{
                                        background-color: $lighter-gray;
                                    }
                                }
                                &:last-child{
                                    a{
                                        border-bottom: none;
                                    }
                                }
                            }
                        }
                        ul::-webkit-scrollbar-track{
                            background-color: #F5F5F5;
                        }
                        ul::-webkit-scrollbar{
                            width: 5px;
                            background-color: #F5F5F5;
                        }
                        ul::-webkit-scrollbar-thumb{
                            background-color: $brand-red;
                            border: 1px solid $brand-pink;
                        }
                    }
                }
            }
        }
    }
    #page-content {
        #block-tekmens-content{
            width: 100%;
        }

    }
}

// Resources
.page-node-type-resource{
    #page-content{
        #block-tekmens-page-title{
            background-color: $brand-dark-gray;
            height: 105px;
            padding: 0;
            .page-title{
                display: none;
            }
        }
        .resource-title{
            border-bottom: 1px solid $border;
            padding-bottom: 15px;
            margin-bottom: 30px;
            .resource-type{
                color: $brand-pink;
                text-decoration: none;
                font-weight: 600;
            }   
            .page-title{
                font-weight: 600;
                color: $brand-dark-gray;
                font-size: 36px;
            }
            .created{
                color: $text-color
            }
        }
        .field--name-field-image{
            margin-bottom: 15px;
            img{
                width: 100%;
                height: auto;
            }
        }
        .field--name-field-attachments{
            .file{
                padding-left: 0;
                background: none;
                a{
                    color: $text-color;
                    text-transform: capitalize;
                    text-decoration: none;
                    transition: $transition;
                    &:after{
                        content:"\F29B";
                        font-family: $icon;
                        padding-left: 10px;
                        vertical-align: middle;
                    }
                    &:hover{
                        color: $brand-pink;
                    }
                }
            }
        }
    }
}

.page-node-14 {
    #page-content {
        #block-tekmens-content{
            .help{
                padding: 20px;
                background: $lighter-gray;
                border: 2px solid $light-gray;
                border-radius: 8px;
                margin-top: 20px;
                text-align: center;
                // background-image: url(../img/help.png);
                // background-repeat: no-repeat;
                // padding-top: 320px;
                .help-img{
                    width: 90%;
                    margin-bottom: 15px;
                }
                h2{
                    color: $brand-red;
                    margin-bottom: 15px;
                    font-weight: bolder;
                    font-size: 1.75rem;
                    clear: both;
                    text-align: left;
                }
                p{
                    color: $brand-gray;
                    .phone{
                        color: $brand-pink !important;
                        font-size: 20px !important;
                        font-weight: 600;
                        a{
                            color: $brand-pink !important;
                            font-size: 20px !important;
                            font-weight: 600;
                            text-decoration: none;
                        }
                        &:before{
                            content: "\F5B4";
                            margin-right: 5px;
                            vertical-align: middle;
                            font-family: $icon !important;
                            font-weight: normal;   
                        }
                    }
                    .email{
                        color: $brand-pink !important;
                        font-size: 20px !important;
                        font-weight: 600;
                        a{
                            color: $brand-pink !important;
                            font-size: 20px !important;
                            font-weight: 600;
                            text-decoration: none;
                        }
                        &:before{
                            content: "\F84B";
                            margin-right: 5px;
                            vertical-align: middle;
                            font-family: $icon !important;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #page-content {
        #block-tekmens-content{
            width: 80%;
            .field--name-body{
                img{
                    max-width: 100%;
                    height: auto;
                    margin: 15px 0;
                    &.align-left{
                        width: 60%;
                        margin-right: 15px;
                    }
                    &.align-right{
                        width: 60%;
                        margin-left: 15px;
                    }
                    &.align-center{
                        width: 80%;
                        margin: 15px auto;
                    }
                }
            }
        }
    }
    .page-node-type-page {
        #page-content {
            #block-tekmens-ourstory {
                .field--name-field-image{
                    width: 40%;
                }
                .field--name-body{
                    width: 50%;
                    padding-left: 30px;
                    vertical-align: top;
                }
            }
            #block-tekmens-whatwedo{
                h2{
                    text-align: center;
                }
                .field--name-body{
                    text-align: center;
                }
            }
        }
    }
    .page-node-14 {
        #page-content {
            #block-tekmens-content{
                width: 100%;
            }
        }
    }
    .page-node-type-product{
        #page-content{
            
        }
    }
}

@media (min-width: 992px) {
    #page-content {
        #block-tekmens-content{
            width: 70%;
            .field--name-body{
                img{
                    max-width: 100%;
                    height: auto;
                    margin: 15px 0;
                    &.align-left{
                        width: 40%;
                        margin-right: 15px;
                    }
                    &.align-right{
                        width: 40%;
                        margin-left: 15px;
                    }
                    &.align-center{
                        width: 70%;
                        margin: 15px auto;
                    }
                }
            }
        }
    }
    .page-node-type-page {
        #page-content {
            #block-tekmens-ourstory {
                .field--name-body{
                    vertical-align: middle;
                }
            }
            .block-views-blocksectors-block-2{
                .view-sectors{
                    .view-content{
                        .views-row{
                            .views-field-nothing{
                                .sector-wrapper{
                                    .image{
                                        flex: 0 0 auto;
                                        width: 40%;
                                    }
                                    .text{
                                        flex: 0 0 auto;
                                        width: 60%;
                                        padding: 30px 0;
                                    }
                                }
                            }
                            &:nth-child(even){
                                .views-field-nothing{
                                    .sector-wrapper{
                                        .image{
                                            order: unset;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .page-node-14 {
        #page-content {
            #block-tekmens-content{
                width: 90%;
            }
        }
    }
    .page-node-type-product{
        #page-content{
            
        }
    }
}