<div class="quote-wrapper">
  <div class="container">
    <div class="row">
      <div class="quote-text col-12 col-md-8">
        <h3>Quick Order</h3>
        <p>Order faster with one click.</p>
      </div>
      <div class="quote-link col-12 col-md-4 mt-3 mt-md-0 align-self-center">
        <a href="/contact-us#webform-submission-contact-node-6-add-form"><button type="button" class="btn btn-lg">Get a Quote</button></a>
      </div>
    </div>
  </div>
</div>
<!-- FOOTER -->
<footer class="d-print-none" id="page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-2 d-none d-md-flex">
        <a class="footer-brand d-flex align-items-start" href="{{ front_page }}"><img class="text-white mr-3 logo" src="/themes/custom/tekmens/img/logo_full.png"></a>
      </div>
      <div class="col-12 col-md-8 footer-menu">
        {% if page.footer %}
          {{ page.footer }}
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-2 d-none d-md-flex">
        <div class="social-menu">
          <ul>
            <li class="social-icon"><a class="instagram" href="https://instagram.com"></a></li>
            <li class="social-icon"><a class="whatsapp" href="https://wa.me/+971 58 992 4356" target="_blank"></a></li>
            <li class="social-icon"><a class="facebook" href="https://facebook.com/"></a></li>
            <li class="social-icon"><a class="linkedin" href="https://linkedin.com/"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER -->